version: "3"
services:
  myopic-bot-event-stream:
    image: "ghcr.io/th0masb/myopic/event-stream:latest"
    ports:
      - "8080:8080"
    volumes:
      # Mount AWS credentials on host machine into the container
      - ~/.myopic:/root/.aws:ro
    environment:
      # Pull auth token from the host environment
      MYOPIC_LICHESS_AUTH_TOKEN:
      # Configure the bot parameters
      MYOPIC_CONFIG: >-
        {
          "gameFunction": {
            "id": { "name": "MyopicGameHandler" },
            "maxDepth": 10,
            "abortAfterSecs": 30
          },
          "openingTable": {
            "id": { "name": "MyopicOpenings" }
          },
          "moveFunction": {
            "name": "MyopicMove"
          },
          "lichessBot": {
            "botId": "myopic-bot"
          }
        }
